<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>JqueryJojojo</title>
</head>
<body class="grad10">
	<main>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="buttons-register container-flex-column vh100">



						<picture>
						          <img src="../assets/images/logo-white.png" alt="logo-blanco"  class="logo">
						          <img src="../assets/images/logo-pink.png" alt="logo-pink"  class="logo2">
					 </picture>

										 <a href="signup.html" class="button  col-xs-3 "type="button" class=" btn-lg" style="background-color: transparent">LOGIN</a>
										 <a href="login.html" class="button  col-xs-4 "type="button" class=" btn-lg" style="background-color: transparent">SING UP</a>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/register.js"></script>
</body>
</html>
